<div class="searchDateBox">
    <div class="btn-group-square" id="myTopnav">
        <div class="row">
            <div class="col-md-0">
                <button id="Today" (click)="setSelectedSearchDate(SearchDateCriteria.Today)" autofocus>Today</button>
            </div>
            <div class="col-md-0">
                <button id="Week" (click)="setSelectedSearchDate(SearchDateCriteria.Week)">Week</button>
            </div>
            <div class="col-md-0">
                <button id="Month" (click)="setSelectedSearchDate(SearchDateCriteria.Month)">Month</button>
            </div>
        </div>
    </div>
</div>

